<!DOCTYPE html>
<html ng-app="photoapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Photo Gallery Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-controller="PhotoCtrl as ctrl">

<div class="toolbar">
    <input type="range" min="0" max="5" ng-model="ctrl.sizing.step" ng-change="ctrl.inputSize()">
</div>

<span
    ng-repeat="photo in ctrl.photos"
    class="card"
    ng-style="{width:ctrl.sizing.containerSize + 'px', height:ctrl.sizing.containerSize + 'px'}">
    <span class="photo-frame"><img ng-src="{{photo}}"></span>
</span>

</body>
</html>
